body {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
  font-family: 'Press Start 2P', cursive;
}

.topspace {
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 20px;
  background: #3c293a;
  box-shadow: 0 -1px 8px -2px #afd433 inset, 0 -4px 8px #3c293a inset;
}

.title {
  font-size: 27px;
  font-weight: bold;
  background-color: #3c293a;
  color: #36c792;
  text-align: center;
  border: 6px solid #36c792;
  border-radius: 20px;
}

.left-side {
  margin: 0;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #333;
  border: 4px solid #999;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 1px #111 inset;
}

.left-border-box {
  border-bottom: 1px solid #999;
}

.left-side div {
  margin: 5px 0px;
  padding: 0px;
}

.left-side p {
  font-size: 11px;
  color: #a8c65e;
  text-align: center;
  margin: 10px;
}

#game-num {
  font-weight: bold;
}

#score-num {
  font-weight: bold;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .mobile {
    display: block;
  }
}

.d-pad {
  position: absolute;
  left: 135px;
  bottom: 100px;
  height: 130px;
  width: 125px;
  border-radius: 10px;
  background: #3c293a;
  opacity: .5;
  box-shadow: 0 0 5px 1px #36c792;
}

.d-pad-arrow {
  height: 41.25px;
  width: 41.25px;
  background: #36c792;
  opacity: 1;
  box-shadow: 0 -4px #195942;
}

#up {
  position: relative;
  top: 5px;
  left: 41.67px;
  border-radius: 8px 8px 0 0;
}

#left {
  position: relative;
  top: 5px;
  border-radius: 8px 0 0 8px;
}

#down {
  position: relative;
  top: 5px;
  left: 41.67px;
  border-radius: 0 0 8px 8px;
}

#right {
  position: relative;
  top: -78.33px;
  left: 83.33px;
  border-radius: 0 8px 8px 0;
}

#attack-box {
  position: absolute;
  right: 135px;
  bottom: 100px;
  height: 92px;
  width: 92px;
  border-radius: 46px;
  background: #36c792;
  opacity: .5;
  box-shadow: 0 0 15px 5px inset, 0 0 5px 1px #9acfbb;
}

#attack {
  position: relative;
  top: 15px;
  left: 15px;
  height: 61.33px;
  width: 61.33px;
  border-radius: 30px;
  background: #3c293a;
  box-shadow: 0 0 5px 5px;
}

.canvas-div {
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#background-map {
  background: transparent;
  width: 100%;
  height: auto;
  z-index: 1;
}

#enemy-map {
  background: transparent;
  width: 100%;
  height: auto;
  z-index: 50;
}

#death-canvas {
  background: rgba(235, 44, 18, 0.56);
  opacity: 0;
  width: 100%;
  height: auto;
  z-index: 70;
}

#explosion-canvas {
  background: transparent;
  width: 100%;
  height: auto;
  z-index: 30;
}

#sprite-map {
  background: transparent;
  width: 100%;
  height: auto;
  z-index: 100;
}

#win-canvas {
  background: transparent;
  width: 100%;
  height: auto;
  z-index: 150;
}

.canvas-blur {
  filter: blur(2px);
}

.hearts-col {
  margin: 0;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
  font-size: 9px;
  color: #a8c65e;
  text-align: center;
  background-color: #333;
  border: 4px solid #999;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 1px #111 inset;
}

.heart {
  height: 50px;
  width: 50px;
}

.heart-show {
  visibility: visible;
}

.heart-hidden {
  visibility: hidden;
}

.damaged {
  opacity: .3;
}

#invincible {
  margin-bottom: 10px;
}

.hearts-col label {
  margin: 0;
}

.checkboxes {
  display: block;
  margin: 10px auto;
  height: 15px;
  width: 15px;
}

#start-game {
  border-color: 2px solid #555;
  border-radius: 3px;
  background-color: #222;
  font-family: 'Press Start 2P';
  color: white;
  cursor: pointer;
  padding: 9px 7px;
  box-shadow: 0 0 2px 1px #afd433, -1px -1px 3px #999 inset;
}

.grow-button {
  animation: grow 3.5s infinite;
}

#continuous-play {
  margin-bottom: 25px;
}

#audio-box {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 9px;
  box-shadow: 0px 0px 7px 0px #afd433;
}

#about-box {
  position: fixed;
  right: 0px;
  bottom: 0px;
  background: #222;
  font-size: 9px;
  color: #a8c65e;
  padding: 5px 10px 5px 7px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 2px #111;
  transition: transform .5s ease-in-out;
}

#about-box::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0 0 20px 4px #0f0f0f;
  transition: opacity .5s ease-in-out;
}

#about-box:hover {
  transform: translate(-23px, -5.35px) scale(1.15);
}

#about-box:hover::after {
  opacity: 1;
}

#made-by-box p {
  position: relative;
  top: 8px;
  text-align: center;
}

#links-box {
  padding-top: 0px;
  border-top: 3px solid black;
  text-align: center;
}

#links-box a {
  padding: 13px 15px;
  position: relative;
  top: 10px;
  color: #a8c65e;
  text-align: justify;
  text-decoration: none;
}

#github-logo {
  height: 24px;
  width: 24px;
}

#twitter-logo {
  height: 23px;
  width: 23px;
}

#linkedin-logo {
  height: 22px;
  width: 29.07px;
}

#soundcloud-logo {
  top: 2px;
}

.logo-links:hover {
  border-bottom: 2px solid #36c792;
}

.text-link {
  vertical-align: text-top;
  font-size: 11px;
}

.text-links:hover {
  padding-bottom: 2px;
  height: 24px;
  width: 24px;
  border-bottom: 2px solid #36c792;
}

@keyframes grow {
  38% {transform: scale(1.2) rotate(9deg);
      box-shadow: 0 0 2px 1px #afd433,
       -1px -1px 3px #999 inset, 0 0 15px 3px #111;}
  62% {transform: scale(1.2) rotate(-9deg);
     box-shadow: 0 0 2px 1px #afd433,
      -1px -1px 3px #999 inset, 0 0 15px 3px #111;}

}
